/* PHASE 5: Cats */

.content-header {
  min-height: 150px;
  background-image: url("../images/cats.jpg");
  background-size: cover;
  position: relative;
}

.content-header-heading {
  position: absolute;
  bottom: 20px; left: 300px;
  color: white;
  font-size: 35px;
  text-shadow: 1px 1px 3px black;
  line-height: 1;
}

.btn-add-friend {
  display: block;
  position: absolute;
  right: 20px; bottom: 20px;
  background: white;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  width: 100px;
  text-align: center;
  font-weight: 700;
}

.btn-add-friend:hover {
  background: #eeeeee;
}