html, body, div, h1, h2, h3, p, 
a, strong, ul, li, form, label,
table, tbody, tfoot, thead, tr, th, td,
footer, header, nav, section, input, select, textarea {
	margin: 0;
	padding: 0;
	border: 0;

	font-size: 100%;
	font: inherit;
  color: inherit;
  text-align: inherit;

  background: transparent;
	box-sizing: inherit;

	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */ 
footer, header, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ul {
	list-style: none;
}

a {
  text-decoration: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}